{% extends "base.html.twig" %}

{% block Name %}Category Detial{% endblock %}

{% block body %}
<style>
    body{
        width:80%;
        margin: 20px auto;
    }
    
</style>

<div class="container-fluid">
<a class="btn btn-outline-success" href="{{path('category_index')}}">Back Home</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Images </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">{{category.name}}</td>
            <td scope="col">{{category.description}}</td>
            <td scope="col">
             {% if category.images == null %}
                         
                    {% else %}               
                        <img src = "{{asset('images/products/' ~ category.images)}}" width="300px">
  
                    {% endif %}
            </td>
            <td>
            <a class="btn btn-warning" href="{{path('category_update', {'id': category.id})}}">Update</a>
            <a class="btn btn-danger" href="{{path('category_delete', {'id': category.id})}}"
            onclick="return confirm('Warning!!! Are you sure to delete?')"
            >Delete</a>
            </td>
        </tr>    

    </tbody>
</table>
</div>

{% endblock %}